.item-avatar  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 350px !important;  //any size
    max-height: 350px !important; 
    margin: auto; 
    margin-top: 10px;
    }

    a{
        color: black!important;
        align-content: center;
    }