<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Work experience and education</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-card color="light">
        <ion-card-header><h3><ion-icon name="school"></ion-icon> &nbsp; Education</h3></ion-card-header>
        <ion-item-divider></ion-item-divider>
        <ion-card-content><p>Omnia, 06/2013</p>
          <h2>Audiovisual communication</h2>
            </ion-card-content>
            
            <ion-card-content><p>Laurea University on Applied Sciences, 01/2018 –</p>
              <h2>Business Information Technology</h2>
              </ion-card-content>
      </ion-card>

      <ion-card color="light">
          <ion-card-header><h3><ion-icon name="business"></ion-icon> &nbsp;Work experience</h3></ion-card-header>
          <ion-item-divider></ion-item-divider>
          <ion-card-content><p>Newspaper Express Finland Oy, 06–09/2017</p>
            <h2>Paperboy</h2>
              </ion-card-content>
              
              <ion-card-content><p>Verkkokauppa.com Oyj, 12/2011 –</p>
                <h2>Post processer</h2>
                </ion-card-content>

                <ion-card-content><p>Studio Sette, 01–05/2013</p>
                  <h2>Photographers assistant</h2>
                  </ion-card-content>

                  <ion-card-content><p>Helsingin Sanomain Säätiö, 09–10/2008</p>
                    <h2>Documentation</h2>
                    </ion-card-content>
        </ion-card>
        
</ion-content>
