<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
  <ion-card color="light">
    
      <ion-card-content><img src="assets/img/me.jpg"></ion-card-content> <!-- Here I put my image on a card-->
    
  </ion-card>
  <ion-card color="light"> <!-- Here I create About card-->
    
      <ion-card-content><p>My name is Julius Kerminen and I'm 25 years old.<br><br> I study 2nd year of Business Information Technology in Laurea University of Applied Sciences.</p></ion-card-content>

    
  </ion-card>


</ion-content>
