<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Curriculum Vitae
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card color="light">
    <ion-card-header><h3><ion-icon name="globe"></ion-icon> &nbsp;Language skills</h3></ion-card-header>
    <ion-item-divider></ion-item-divider>
    <ion-card-content><p>Finnish</p>Native speaker
        </ion-card-content>
        
        <ion-card-content><p>English</p>Great
        </ion-card-content>

        <ion-card-content><p>Swedish</p>Basics
        </ion-card-content>
  </ion-card>

  <ion-card color="light">
      <ion-card-header><h3><ion-icon name="laptop"></ion-icon> &nbsp;IT Skills</h3></ion-card-header>
      <ion-item-divider ></ion-item-divider>
      
      <ion-card-content><p>Adobe Photoshop</p>Great
      </ion-card-content>

      <ion-card-content><p>Adobe Illustrator</p>Good
      </ion-card-content>

      <ion-card-content><p>Microsoft Word</p>Good
      </ion-card-content>

      <ion-card-content><p>Microsoft Excel</p>Basics
      </ion-card-content>

      <ion-card-content><p>Visual Studio Code</p>Good
      </ion-card-content>

      <ion-card-content><p>Blender</p>Basics
      </ion-card-content>

      <ion-card-content><p>Java</p>Basics
      </ion-card-content>

      <ion-card-content><p>JavaScript</p>Basics
      </ion-card-content>

      <ion-card-content><p>PHP</p>Basics
      </ion-card-content>


      <ion-card-content><p>MySQL</p>Basics
      </ion-card-content>

      <ion-card-content><p>HTML</p>Good
      </ion-card-content>

      <ion-card-content><p>CSS</p>Good
      </ion-card-content>

      <ion-card-content><p>Ionic Framework</p>Basics
      </ion-card-content>


    </ion-card>
</ion-content>
